
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');


*{
    font-family:'poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
      box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: inherit;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html:-webkit-scrollbar{
    width: 0.5rem;
}

html:-webkit-scrollbar-thumb{
    background-image: #72BFC1;
}

body{
    background: #f8f9fc;
    overflow-x: hidden;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    color: #72BFC1;
    font-size: 2rem;
}

.heading h1{
    font-size: 4rem;
    color: #1f2f40;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase; /* Letra maiúscula */
    color: #72BFC1;
    border: 0.2rem solid #72BFC1;
    border-radius: 5rem;
    cursor: pointer;
    background: #f8f9fc;

}

.btn:hover{
    background: #72BFC1;
    color: #fff;
}


/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 0 1px 6px 0 rgba(32 32 36 / 28%);
    
}

.header .navbar a{
    font-size: 1.7rem;
    color: #545454;
    display: inline-block;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #72BFC1;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo span{
    color: #72BFC1;
}

#menu-btn{
    font-size: 2rem;
    color: #000;
    cursor: pointer;
    display: none;
}

/* home */

.home{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.headline{
    margin-left: 10%;
    flex: 40%;
}

.headline h2{
   font-weight: 700; 
   font-size: 20px;
   color: #1f2f40;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}


.home .content{
    text-align: center;
}


.home .content h3{
    font-size: 6vw;
    color: #fff;
}

.home .headline p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #545454;
    line-height: 2;
    letter-spacing: 1px;
}


/* services */

.serviços .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(32rem, 1fr))auto[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}


.serviços .box-container .box{
    background: #fff;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.serviços .box-container .box:hover{
    transform: scale(1.05);
    background: #fff;
}

.serviços .box-container .box i{
    font-size: 6rem;
    color: #72BFC1;
    margin-bottom: 2rem;
}

.serviços .box-container .box h3{
    font-size: 2rem;
    color: #1f2f40;
}

.serviços .box-container .box p{
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 50%;
    color: gray;
    line-height: 1.8;
    
   
}
.service-card {
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    width: 300px;
  }

  .service-container {
    display: flex;
    justify-content: space-around;
  }

  .service-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #72BFC1;
    border-color: #72bfc1;
  }

/* about */

.about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
}

.about  .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.about .content span{
    color: #72BFC1;
    font-size: 2rem;

}

.about .content h3{
    color: #323a5e;
    font-size: 3rem;
    margin-top: 1rem;
}

.about .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color:gray;
    line-height: 1.4;
    
}

/* contact */

.contact {
margin: 0;
padding: 2rem;
font-family:'poppins', sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
background-color: #72BFC1; /* Ajuste a cor de fundo conforme necessário */
}

.container {
display: flex;
flex-flow: row wrap;
max-width: 1500px; /* Ajuste a largura máxima conforme necessário */
background: #fff;
border-radius: 1rem;
padding: 3rem;
box-shadow:  rgba(17 17 17 / 15%) 0px 0.5rem 1rem; /* Sombra leve para separar do fundo */
}

.info {
padding: 10px;
background-color: #fff; /* Cor de fundo esquerda */
color: gray; /* Cor do texto */
width: 50%; /* Ajuste a largura conforme necessário */
}

.info .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #72BFC1;
    color: #72bfc1;
    margin-right: .5rem;
    text-align: center;
}

.info .share a:hover{
    background: #72BFC1;
    color: #fff;
}


.contact-form {
padding: 20px;
width: 50%; /* Ajuste a largura conforme necessário */
background-color: #72BFC1;
}

h2 {
color: #72bfc1; /* Cor do título */
font-size: 3rem;
}

p {
line-height: 1; /* Espaçamento da linha */
font-size: 2rem;
color: gray;
}

[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
}

button {
background: #f8f9fc; /* Cor de fundo do botão */
color: #72bfc1; /* Cor do texto do botão */
border: 0.2rem solid #323a5e;
padding: 10px 120px;
text-transform: uppercase; /* Letra maiúscula */
font-weight: bolder;
border-radius: 5rem; /* Borda arredondada */
cursor: pointer;
}

button:hover {
background-color: #323a5e; /* Cor do hover do botão */
color: #fff; /* Cor do texto do botão */
}



/* hello-digietal */

/* header */

*{
    font-family:'poppins', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
      box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: inherit;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html:-webkit-scrollbar{
    width: 0.5rem;
}

html:-webkit-scrollbar-thumb{
    background-image: #c39835;
}

body{
    background: #f8f9fc;
    overflow-x: hidden;
}

section{
    padding: 2rem 7%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 0 1px 6px 0 rgba(32 32 36 / 28%);
    
}

.header .navbar a{
    font-size: 1.7rem;
    font-weight: bolder;
    color: #545454;
    display: inline-block;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #72BFC1;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo span{
    color: #72BFC1;
}

#menu-btn{
    font-size: 2rem;
    font-weight: 500%;
    color: #000;
    cursor: pointer;
    display: none;
}

.home{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.headline{
    margin-left: 10%;
    flex: 40%;
}

.headline h2{
   font-weight: bolder; 
   font-size: 20px;
   color: #1f2f40;
}

.home{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.headline{
    margin-left: 10%;
    flex: 40%;
}

.headline h2{
   font-weight: 900; 
   font-size: 20px;
   color: #1f2f40;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}


.home .content{
    text-align: center;
}


.home .content h3{
    font-size: 6vw;
    color: #fff;
}

.home .headline p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #545454;
    line-height: 2;
    letter-spacing: 1px;
}

/* Contactos */
.contact {
    margin: 0;
    padding: 0rem;
    font-family:'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #fff; /* Ajuste a cor de fundo conforme necessário */
    }

.container {
display: flex;
flex-flow: row wrap;
max-width: 1500px; /* Ajuste a largura máxima conforme necessário */
background: #fff;
border-radius: 1rem;
padding: 3rem;
box-shadow:  rgba(17 17 17 / 15%) 0px 0.5rem 1rem; /* Sombra leve para separar do fundo */
}

.info {
padding: 10px;
background-color: #fff; /* Cor de fundo esquerda */
color: gray; /* Cor do texto */
width: 50%; /* Ajuste a largura conforme necessário */
}

.info .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #72BFC1;
    color: #72bfc1;
    margin-right: .5rem;
    text-align: center;
}

.info .share a:hover{
    background: #72BFC1;
    color: #fff;
}


.contact-form {
padding: 20px;
width: 50%; /* Ajuste a largura conforme necessário */
background-color: #72BFC1;
}

h2 {
color: #72bfc1; /* Cor do título */
font-size: 3rem;
}

p {
line-height: 1; /* Espaçamento da linha */
font-size: 2rem;
color: gray;
}

[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-sizing: border-box;
}

button {
background: #f8f9fc; /* Cor de fundo do botão */
color: #72bfc1; /* Cor do texto do botão */
border: 0.2rem solid #323a5e;
padding: 10px 120px;
text-transform: uppercase; /* Letra maiúscula */
font-weight: bolder;
border-radius: 5rem; /* Borda arredondada */
cursor: pointer;
}

button:hover {
background-color: #323a5e; /* Cor do hover do botão */
color: #fff; /* Cor do texto do botão */
}





@media(max-width:1200px){
    
    section{
        padding:3rem 5%;
    }

@media(max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
        }


@media(max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: #eee;
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: left;
    }
}

@media(max-width:450px){
    
    html{
      font-size: 55%;
            }   

}
} 
} 
